/* .crocodile {
    width: 40px;
    height: 40px;
    background-color: #228b22;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crocodile::after {
    content: "";
    width: 20px;
    height: 8px;
    background-color: #fff;
    position: absolute;
    border-radius: 4px;
    transform: translateX(15px);
} */

.crocodile {
    width: 115px;
    height: 60px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crocodile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
